
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background:#f0f0f0;
  overflow: hidden;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  background: #fff;
}
.logo img{
  background-size: cover;
  height: 60px;
  width: 80px;
}
.header-icons svg{
  height: 20px;
  width: 20px;
}
.header-icons h4{
  text-transform:capitalize;
}
.header-icons{
  display: flex;
  align-items: center;
}
.header-icons i{
  margin-right: 2rem;
  cursor: pointer;
}
.header-icons .account{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}
.header-icons .account img{
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
.container{
  margin-top: 10px;
  display: flex;
  gap: 50px;
}

/* Side menubar section */
nav{
  background: #fff;
}
.side_navbar{
  padding: 1px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  border: 0.5px solid white;
  border-radius: 40px;
  width: 260px;
 
}
.side_navbar span{
  color: gray;
  margin: 1rem 3rem;
  font-size: 12px;
}
.side_navbar a{
  width: 100%;
  padding: 0.8rem 3rem;
  font-weight: 500;
  font-size: 15px;
  color: rgb(100, 100, 100);
}
.logout{
  margin-top: 350px;
  margin-left: 20px;
  padding: 15px 32px;
  text-decoration: none;
  color: white;
  display: block;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.766);
  border: 1.5 px solid white;
  border-radius: 30px 30px;
}
.logout:hover{
  cursor: pointer;
  background-color: black;
  transition: background-color 0.25s linear;
}
.logout svg{
  height: 12px;
  width: 12px;
  
}
.links{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
  }
  .links a{
    font-size: 13px;
  }
  .side_navbar a:not(.active):hover{
    background: rgb(235, 235, 235);
    cursor: pointer;
  }
  .side_navbar .active{
    border-left: 2.5px solid teal;
    background-color: #ffb225;
    color:#f0f8f8;
  }
  .main-body{
    height: auto;
    width: 100%;
    padding: 20px;
    overflow: scroll;
    height: 90vh;
  }
  .appointment-list {
    
    padding: 10px;
    border-radius: 10px;
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
    
  }
    

table{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    border-collapse: collapse;
    text-align: center;
    
}
table th{
  font-size: 15px;
}

table td{
  font-size: 14px;
  color: rgb(100, 100, 100);
}
table th,td{
  padding: 5px;
    
}
/* table th,td{
    border-bottom: 0.5px solid black;
    padding: 7px;
    border-radius: 10px; 
    
    
} */
/* tbody tr{
    transition: transform 0.5s ease, box-shadow 0.4s ease;
   
  }
   */
  /* tbody tr:hover{
    border-radius: 10px;
    box-shadow: 3px 3px 5px white;
    cursor: pointer;
    transform: translate(-4px, 0px);
    
  } */
  .appointment-list2 {
    
    padding: 10px;
    border-radius: 10px;
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
    
  }
  /* .appointment-list2 table{
    empty-cells: show;
  } */
  .appointment-list svg{
    height: 13px;
    width: 13px;
  }
  .appointment-list button{
    padding: 5px 5px;
    border-radius: 10px;
  }
  .appointment-list button:hover{
    cursor: pointer;
    background-color: green;
    
  }
  #appointmentsTable{
    
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
    display: none;
  }
  #filterForm{
    margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  }
  #filterButton {
    margin-left:4%;
}
  #filterButton svg{
    height: 11px;
    width: 11px;
  }
  #filterButton{
    border-radius: 10px;
    width: 15%;
    padding: 8px 10px;
    color: white;
    background-color:  #4285F4;
    float: right;
    transition: background-color 0.3s ease;
  }
  #filterButton:hover{
    cursor: pointer;
    
    background-color: #3367D6;
}
#dateFilter{
  width: 13%;
  border-radius: 10px;
  padding: 8px 10px;
  border: 1px solid #ffb225;
}
#dateFilter:hover{
  cursor: pointer;
}
.icon{
  color: #5d3fd3;
}
