*{
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
    background-color: #EDF2F9;
    overflow: hidden;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 250px;
    background-color: #EDF2F9;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-radius: 10px;
    box-shadow: 5px 4px 7px rgba(0, 0, 0, 0.1);

}

.sidebar header h1{
    margin-bottom: 50px;
}

.sidebar nav ul {
    list-style: none;
    
}

.sidebar nav a {
    text-decoration: none;
    color: #000000ad;
    font-size: 18px;
    display: flex;
    padding: 18px 0;
    justify-content: flex-start; 
}
.sidebar nav li{
    margin-bottom: 25px;
    
    
}

.sidebar nav a:hover {
    color: black;
   display: flex;
}

/* .sidebar nav a.active {
    background-color: #b1bcc6;
    color: black;
    justify-content: center; 
} */
.active{
    background-color: #b1bcc6;
    color: black !important;
    border-bottom:0.5px solid black;
    border-radius: 10px;
    
   justify-content: center !important;
}


.content1 {
    flex: 1;
    overflow-y: scroll;
    padding: 20px;
    height: 91vh;
    
    
}

.content1 header {
    color: #1a2b3c;
    font-size: 24px;
    margin-bottom: 20px;
}

.overview {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
   justify-content: space-between;
}

.card1 {
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card2{
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h3 {
    font-size: 20px;
}

p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.appointment-list {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fcfc8161;}
table{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    border-collapse: collapse;
    text-align: center;
    
    
}
table th,td{
    border-bottom: 0.5px solid black;
    padding: 5px;
    border-radius: 10px;    
}
.logout{
    margin-top: 130px;
    text-decoration: none;
    color: #000000ad;
    font-size: 18px;
    text-align: center;
    background-color: #EDF2F9;
    border: 0px solid #000000ad;
    padding: 18px 0;
    transition: background-color 0.2s linear;
}
.logout:hover{
    color: black;
   transform: scale(1.02,1.07);
   background-color: white;
   
}


