
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background:#f0f0f0;
  overflow: hidden;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  background: #fff;
}
.logo img{
  background-size: cover;
  height: 60px;
  width: 80px;
}
.header-icons svg{
  height: 20px;
  width: 20px;
}
.header-icons h4{
  text-transform:capitalize;
}
.header-icons{
  display: flex;
  align-items: center;
}
.header-icons i{
  margin-right: 2rem;
  cursor: pointer;
}
.header-icons .account{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}
.header-icons .account img{
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
.container{
  margin-top: 10px;
  display: flex;
  gap: 50px;
}

/* Side menubar section */
nav{
  background: #fff;
}
.side_navbar{
  padding: 1px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  border: 0.5px solid white;
  border-radius: 40px;
  width: 260px;
 
}
.side_navbar span{
  color: gray;
  margin: 1rem 3rem;
  font-size: 12px;
}
.side_navbar a{
  width: 100%;
  padding: 0.8rem 3rem;
  font-weight: 500;
  font-size: 15px;
  color: rgb(100, 100, 100);
}
.logout{
  margin-top: 350px;
  margin-left: 20px;
  padding: 15px 32px;
  text-decoration: none;
  color: white;
  display: block;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.766);
  border: 1.5 px solid white;
  border-radius: 30px 30px;
}
.logout:hover{
  cursor: pointer;
  background-color: black;
  transition: background-color 0.25s linear;
}
.logout svg{
  height: 12px;
  width: 12px;
  
}
.links{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.links a{
  font-size: 13px;
}
.side_navbar a:not(.active):hover{
  background: rgb(235, 235, 235);
  cursor: pointer;
}
.side_navbar .active{
  border-left: 2.5px solid teal;
  background-color: #ffb225;
  color:#f0f8f8;
}


.content1 {
    flex: 1;
    overflow-y: scroll;
    padding: 20px;
    height: 91vh;
    
    
}

.content1 header {

    font-size: 24px;
    margin-bottom: 20px;
}

.overview {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
   justify-content: space-between;
}

.card1 {
    width: 100%;
    height: auto;
    background-color:#bef8f8;
    color: black;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card3 {
    width: 100%;
    height: auto;
    background-color:#bef8f8;
    color: black;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card2{
    width: 100%;
    height: auto;
    background-color: #bef8f8;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h3 {
    font-size: 20px;
}

p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.appointment-list {

    padding: 10px;
    border-radius: 10px;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color:#ffffff; 
    
  }
    

table{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    border-collapse: collapse;
    text-align: center;
    
}
table th{
  font-size: 15px;
}

table td{
  font-size: 14px;
  color: rgb(100, 100, 100);
}
table th,td{
  padding: 5px;
    
}
.card1,
.card2,
.card3 {
  transition: transform 0.3s ease;
}

.card1:hover,
.card2:hover,
.card3:hover {
  cursor: pointer;
  transform: translate(0, -10px);
}

/* .appointment-list:hover{
  cursor: pointer;
  transform: translate(0, -5px);
} */
/* tbody tr{
  transition: transform 0.5s ease, box-shadow 0.4s ease;
 
} */

/* tbody tr:hover{
  border-radius: 10px;
  box-shadow: 3px 3px 5px white;
  cursor: pointer;
  transform: translate(-4px, 0px);
  
} */
.icon{
  color: #5d3fd3;
}
.change-btn
{
  padding: 3px 7px;
  background-color:#ffb225;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.change-btn:hover{
  cursor: pointer;
  transform: translateX(-1px);
  box-shadow: 2px 2px 2px black;
}
.date {

  display: none;
}
.view-button{
  border: none;
  margin: none;
  padding: 5px 10px;
  background-color: #5D3FD3;
  
  color: white;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}
.view-button:hover{
  cursor:pointer;
  background-color: #21019e;
}
