
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
body{
  background: rgb(219, 219, 219);
  overflow: hidden;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  background: #fff;
}
.logo img{
  background-size: cover;
  height: 60px;
  width: 80px;
}
.header-icons svg{
  height: 20px;
  width: 20px;
}
.header-icons h4{
  text-transform:capitalize;
}
.header-icons{
  display: flex;
  align-items: center;
}
.header-icons i{
  margin-right: 2rem;
  cursor: pointer;
}
.header-icons .account{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}
.header-icons .account img{
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
.container{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

/* Side menubar section */
nav{
  background: #fff;
}
.side_navbar{
  padding: 1px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  border: 0.5px solid white;
  border-radius: 40px;
  width: 260px;

}
.side_navbar span{
  color: gray;
  margin: 1rem 3rem;
  font-size: 12px;
}
.side_navbar a{
  width: 100%;
  padding: 0.8rem 3rem;
  font-weight: 500;
  font-size: 15px;
  color: rgb(100, 100, 100);
}
.logout{
  margin-top: 250px;
  /* border-radius: 30px 30px;
  width: 80%;
  font-weight: 500;
  font-size: 15px;
  color: rgb(100, 100, 100);
  margin-left: 2px; */
  padding: 15px 32px;
  text-decoration: none;
  color: white;
  display: block;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.766);
  border: 1.5 px solid white;
  border-radius: 30px 30px;
  margin-left: 10px;
  
}
  
.logout:hover{
  cursor: pointer;
  background-color: black;
  transition: background-color 0.25s linear;
}
.logout svg{
  height: 12px;
  width: 12px;
  
}
.links{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
.links a{
  font-size: 13px;
}
.side_navbar a:hover{
  background: rgb(235, 235, 235);
  cursor: pointer;
}
.side_navbar .active{
  border-left: 2.5px solid #fe6601;
}



.appointment_form{
  
  width: 80%;
  display: flex;
  margin-left: 50px;
  font-family:"Montserrat", sans-serif;
  margin-top: 35px;
  margin-bottom: 20px;
  
  
}
label{
  
  color: #464646;
  font-weight: 600;
}

.name input{
border: 1px solid #dbdbdb;
text-transform: capitalize;
 font-family:"Montserrat", sans-serif;
 border-radius: 10px;
 padding: 0px 15px;
 margin-top: 10px;
 margin-bottom: 15px;
 width: 550px;
 height: 50px;
 background-color: #f4f4f4;
 font-size: 15px;

}

.email input{
  border: 1px solid #dbdbdb;
  
   font-family:"Montserrat", sans-serif;
   border-radius: 10px;
   padding: 0px 15px;
   margin-top: 10px;
   margin-bottom: 15px;
   width: 550px;
   height: 50px;
   background-color: #f4f4f4;
   font-size: 15px;
   
}
.phone input{
  border: 1px solid #dbdbdb;

 font-family:"Montserrat", sans-serif;
 border-radius: 10px;
 padding: 0px 15px;
 margin-top: 10px;
 margin-bottom: 15px;
 width: 550px;
 height: 50px;
 background-color: #f4f4f4;
 font-size: 15px;

}

.gender{
 display: flex;
 justify-content: space-between;
 width: 550px;
 height: 50px;
 margin-top: 10px;
 margin-bottom: 15px;
 align-items: center;
 color: #464646;
}
.date input{
  border: 1px solid #dbdbdb;
  font-family:"Montserrat", sans-serif;
  border-radius: 10px;
  padding: 0px 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 550px;
  height: 50px;
  background-color: #f4f4f4;
  font-size: 15px;
 
}
.time input{
  border: 1px solid #dbdbdb;
  font-family:"Montserrat", sans-serif;
  border-radius: 10px;
  padding: 0px 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 550px;
  height: 50px;
  background-color: #f4f4f4;
  font-size: 15px;
}
.service input{
  border: 1px solid #dbdbdb;
  font-family:"Montserrat", sans-serif;
  border-radius: 10px;
  padding: 0px 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 550px;
  height: 50px;
  background-color: #f4f4f4;
  font-size: 15px;
}
.btn-default{
  padding: 15px 32px;
  text-decoration: none;
  color: white;
  display: block;
  width: 200px;
  background-color: black;
  border: 1.5   px solid white;
  border-radius: 30px 30px;
  
}
.btn-default:hover{
  /* background-color:  #e20468; */
  background-color: #fe6601;
  cursor: pointer;
  
  transition: background-color 0.25s linear;
}
.btn-default svg{
  height: 12px;
  width: 15px;
  gap: 2px;
  
}
.apart{
 width: 90%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 90vh;
  
}
.submit{
  display: flex;
  justify-content: center;
}
#timeButtons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto; 
  grid-gap: 10px; 
}

#timeButtons button:hover {
  cursor: pointer;
  color: white;
  background-color: black; 
}
#timeButtons button{
  padding: 5px;
  border-radius: 15px 15px;
  box-shadow: 1px 1px 3px #ec9e9e;
}
